<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="b4a.example3"
	android:versionCode="15"
	android:versionName=""
	android:installLocation="preferExternal">
	
	<uses-sdk android:minSdkVersion="5" android:targetSdkVersion="26"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		android:maxSdkVersion="18" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<application
		android:icon="@drawable/icon"
		android:label="SportExpert"
		android:theme="@style/DarkTheme">
		
		<provider
		  android:name="android.support.v4.content.FileProvider"
		  android:authorities="b4a.example3.provider"
		  android:exported="false"
		  android:grantUriPermissions="true">
		  <meta-data
		  android:name="android.support.FILE_PROVIDER_PATHS"
		  android:resource="@xml/provider_paths"/>
		  </provider>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="SportExpert"
			android:screenOrientation="landscape">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".antranorgorussil"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".antranorgoruslistele"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".dayanikliliktestlistele"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".dayanikliliktestsil"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".dayanikliliktestekle"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".gelismistestdenekara"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".programayar"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".surattestlistele"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".deneklistele"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".antranorgorusekle"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".programveri"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".testdenekara"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".denekekleguncelle"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".dayanikliliktestmenu"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".programlistele"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".programsil"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".surattestayar"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".surattestekle"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".surattestsil"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<service android:name=".sesservice">
		</service>
		<receiver android:name=".sesservice$sesservice_BR">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".denekduzenlesil"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".antropometriklistele"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".saglikbilgilerisil"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".testmenu"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".motorozellikmenu"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".saglikbilgilerilistele"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".biyokimyasalekle"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".antropometrikekle"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".anamenu"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".biyokimyasallistele"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".biyokimyasalsil"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".psikolojiksil"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".psikolojiklistele"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".antropometriksil"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".psikolojikekle"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<service android:name=".starter">
		</service>
		<receiver android:name=".starter$starter_BR">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".saglikbilgileriekle"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".dikeysicramatest"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".dengetest"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".kuvvettest"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".reaksiyontest"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".programsec"
			android:label="SportExpert"
			android:screenOrientation="landscape">
		</activity>
	</application>
</manifest>